/*setting my css*/
body {
    box-sizing: border-box;
    color: #303030;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*clases reutilizables*/

.text-uppercase {
    text-transform: uppercase;
}

/*clases específicas*/

li a {
    color: inherit;
    text-decoration: none;
}

ul li {
    display: inline;
    list-style: none;
    margin: 10px;
}

.logo-header {
    width: 200px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.box-header {
    display: inline-block;
}


